ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0 15px;
}

li {
    background-color: var(--medium-light);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}
